<div class="row justify-content-center my-5 py-5">
  <div class="col-sm-10 card  my-5 py-5">
    <div>
      <h3 class="card-title py-3 row justify-content-center">
        診断結果
      </h3>
      <% if @count > 0%>
        <h3 class="card-title py-3  row justify-content-center">
          平均と比較して<%= @count %>項目に問題がありました
        </h3>
        <h3 class="card-title py-3 row justify-content-center">
          いますぐファイナンシャルプランナーに相談しましょう!
        </h3>
      <% else %>
        <h3 class="card-title py-3  row justify-content-center">
          あなたの経済状況は素晴らしいです！！
        </h3>
        <h3 class="card-title py-3 row justify-content-center">
          今後の不安を解決しませんか？ファイナンシャルプランナーに相談しましょう!
        </h3>
      <% end %>
      <% if current_user%>
        <%= link_to "ファイナンシャルプランナーに相談する", reservations_index_path, class: 'btn btn-primary mx-auto d-block col-3' %>
      <% else %>
        <%= link_to "会員登録を行う", signup_path, class: 'btn btn-primary mx-auto d-block col-3' %>
      <% end %>
    </div>
  </div>
</div>
<% @average.each.with_index do |item, index|%>
  <%= render partial: 'diagnostic_card', locals: { item: item[0], user_diagnostic: @user_diagnostic[item[0]], average: @average[item[0]], result: @result[item[0]], index: index }  %>
<% end %>

