<h1>FP App</h1>

<p>初めまして！ <%= @user.name %>様！</p>

<p>
ご登録されたメールアドレスに、ユーザー有効化のリンクを送らせていただきました！
以下のリンクからアクセスしてください！
</p>

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>
