<main>
  <div id="mainvisual">
    <div class="container">
      <div class="row jutify-content-between">
        <div class="text col-6">
          <p class="title">お金についての相談は<br>FP App</p>
          <a class="btn" href="/signup">登録はこちら</a>
        </div>
        <div class="col-1">
        </div>
        <div class="col-5">
          <img src="/assets/undraw_landscape_photographer_1c1m.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class="section-title">
      <span class="ja">FP Appについて</span>
    </h2>
    <div class="row jutify-content-between py-4">
      <div class="col-6">
        <img src="/assets/undraw_financial_data_re_p0fl.svg" alt="">
      </div>
      <div class="col-6 pt-4">
        <h4 class="top-page-title">
          人生１００年時代の準備はできていますか？
        </h4>
        <h5 class="pt-4">
          金融庁の試算によると、人生１００年時代には約２０００万円もの老後資金が必要だそうです。しかしながら２０００万円を用意するにはどのような方法があるのでしょうか？
          そこでFP Appです！老後の不安をファイナンシャルプランナーに相談してみませんか？FP Appでは老後資金に詳しいファイナンシャルプランナーがあなたの相談を待っています！
        </h5>
      </div>
    </div>

    <div class="row jutify-content-between py-4">
      <div class="col-6 pt-4">
        <h4 class="top-page-title">
          子供の教育費どのようにお考えですか？
        </h4>
        <h5 class="pt-4">
          子育てって物凄くお金がかかりますよね。大きくなればなるほど塾代や受験費用といった費用も必要になってきます。今後どのようなお金がかかるのか一度確認してみませんか？
          そこでFP Appです！教育費の不安をファイナンシャルプランナーに相談してみませんか？FP Appでは子育てに詳しいファイナンシャルプランナーがあなたの相談を待っています！
        </h5>
      </div>
      <div class="col-6">
        <img src="/assets/undraw_family_vg76.svg" alt="">
      </div>
    </div>

    <div class="row jutify-content-between py-4">
      <div class="col-6">
        <img src="/assets/undraw_automobile_repair_ywci.svg" alt="">
      </div>
      <div class="col-6 pt-4">
        <h4 class="top-page-title">
          自身の経済状況をどのようにお考えですか？
        </h4>
        <h5 class="pt-4">
          自身の経済状況が周囲と比較してどのくらいかって意外と分かりづらいですよね！そこでFP Appの診断機能です！診断機能では自身が平均と比較してどのくらい差があるのか判定することが可能です！
          診断結果をもとにファイナンシャルプランナーに相談してみましょう！
        </h5>
      </div>
    </div>
  </div>
  <section id="summary">
    <div class="wrapper">
      <h2 class="section-title">FP Appの概要</h2>

      <ul class="menu">
        <li>
          <h3 class="menu-title">
            <span class="ja">相談内容</span>
            <span class="en">CONSULT</span>
          </h3>
          <p>お金に関するスペシャリストであるファイナンシャルプランナーになんでもご相談いただけます</p>
        </li>
        <li>
          <h3 class="menu-title">
            <span class="ja">予約</span>
            <span class="en">RESERVE</span>
          </h3>
          <p>勤務可能なファイナンシャルプランナーの中から選択する事ができます</p>
        </li>
        <li>
          <h3 class="menu-title">
            <span class="ja">FPのご紹介</span>
            <span class="en">FP</span>
          </h3>
          <p>資格を取得したプロのファイナンシャルプランナーにご相談いただけます</p>
        </li>
        <li>
          <h3 class="menu-title">
            <span class="ja">FP AppのQ&A</span>
            <span class="en">Q&A</span>
          </h3>
          <p>ご不明点は下記のフォームにご記入ください</p>
        </li>
      </ul>
    </div>
  </section>
</main>
