<div class="card mb-3 p-3">
  <div class="card-body row flex align-items-center">
    <div class="col-12">
      <h5 class="card-title">予約FP : <%= find_fp(user_reservation.fp_id).name%></h5>
      <h5 class="card-title">相談日時 : <%= user_reservation.day%></h5>
      <h5 class="card-title">相談開始時刻 : <%= user_reservation.time%></h5>
      <h6 class="card-text">人生100年時代における資産の運用について</h6>
    </div>
    <div class="d-flex justify-content-end">
      <%= link_to "予約を取り消す", reservation_path(user_reservation.id), data: { "turbo-method": :delete }, class: "btn btn-danger m-1"%>
    </div>
  </div>
</div>
