<h1>
  <%= @user.name %>
</h1>
<div class="row justify-content-center my-5">
  <div class="col-sm-10">
    <%= render partial: 'user_reservation', collection: @user_reservations %>
  </div>
</div>
</div>
