<h1>
  <%= @user.name %>
</h1>
<div class="row justify-content-center">
  <div class="col-sm-10">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">茂野吾郎 14:00 5000円</h5>
        <p class="card-text">人生100年時代における資産の運用について</p>
        <a href="#" class="btn btn-primary">予約を取り消す</a>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">飯田大輝 13:00 10000円</h5>
        <p class="card-text">絶対に負けない株の運用方法について</p>
        <a href="#" class="btn btn-primary">予約を取り消す</a>
      </div>
    </div>
  </div>
</div>
