<div class="card mb-3 p-3">
  <div class="card-body row flex align-items-center">
    <div class="col-12">
      <h5 class="card-title">相談者 : <%= find_user(financial_planner_reservation.user_id).name%></h5>
      <h5 class="card-title">相談日時 : <%= financial_planner_reservation.day%></h5>
      <h5 class="card-title">相談開始時刻 : <%= financial_planner_reservation.time%></h5>
    </div>
  </div>
</div>
