<footer id="footer">
  <ul class="inner wrapper">
    <li>
      <p class="title">講師紹介</p>
      <ul class="menu">
        <li><a href="#">講師について</a></li>
        <li><a href="#">講師一覧</a></li>
        <li><a href="#">講師を探す</a></li>
      </ul>
    </li>
    <li>
      <p class="title">会社情報</p>
      <ul class="menu">
        <li><a href="#">会社概要</a></li>
        <li><a href="#">採用情報</a></li>
      </ul>
    </li>
    <li>
      <p class="title">FPの登録について</p>
      <ul class="menu">
        <li><a href="/fpsignup">新規ファイナンシャルプランナーの登録</a></li>
      </ul>
    </li>
  </ul>
  <p class="copyright">&copy; FP App</p>
</footer>
